/*===============================================
               ALL PAGES 
================================================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Poppins";
}
h2 {
     font-size: 30px;
     font-weight: 600;
     margin-bottom: 40px;
     text-transform: uppercase;
}
.heading {
     position: relative;
     background-image: linear-gradient(to left, 
     rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/background2.jpg);
     width: 100%;
     height: 40vh;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.heading .text {
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     position: absolute;
     text-align: center;
     font-size: 50px;
     color: #fff;
     text-transform: uppercase;
     font-weight: 800;
     letter-spacing: 2px;
}


/*===============================================
               NAVIGATION BAR 
================================================*/
 
nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100px;
     width: 100%;
     background: #fff;
     padding:  0 100px;
     position: fixed;
     z-index: 100;
     border-bottom: 1px solid #ccc;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
nav .imbs_logo img{
     width: 300px;
}
nav ul{
     display: flex;
     flex-wrap: wrap;
     list-style: none;
}
nav ul li{
     margin: 0 5px;
}
nav ul li a{
     color: #333;
     text-decoration: none;
     font-size: 16px;
     font-weight: 600;
     padding: 8px 15px;
     transition: all 0.3s ease;
     text-transform: uppercase;
}
nav ul li a.active,
nav ul li a:hover{
     color: #5cb85c;
}
nav .menu_btn i{
     color: #333;
     font-size: 22px;
     cursor: pointer;
     display: none;
}
nav input[type="checkbox"]{
     display: none;
}


/*===============================================
               FOOTER BAR 
================================================*/

.footer {
     background: #0f1c2e;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 60px;
     padding: 50px 100px;
}
.footer .footer_item {
     width: 100%;
}
.footer .footer_item img {
     width: 250px;
}
.footer .footer_item h3 {
     color: #fff;
     text-transform: uppercase;
     font-size: 25px;
     font-weight: 600;
     margin-bottom: 20px;
}
.footer .footer_item ul li {
     list-style: none;
     margin-bottom: 10px;
     font-size: 16px;
     color: #eee;
     border-bottom: 1px solid #aaa;
     padding-bottom: 10px;
}
.footer .footer_item ul li a {
     color: #eee;
     text-decoration: none;
     transition: .3s ease;
}
.footer .footer_item ul li a:hover {
     color: #5cb85c;
}
.footer .footer_item ul li i {
     margin-right: 10px;
}
.bottom {
     text-align: center;
     padding: 20px;
     font-size: 16px;
     background: #333;
     color: #fff;
     font-weight: 500;
}


/*===============================================
                    HOME PAGE 
================================================*/

.background_image {
     background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255)), url(../image/background.jpg);
     height: 100vh;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
}
.home_content {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 110px;
     z-index: 0;
}
.home_content .title {
     font-size: 40px;
     font-weight: 800;
     color: #000;
     text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
     margin-bottom: 10px;
     pointer-events: none;
}
.home_content .sub_title {
     font-size: 25px;
     text-transform: capitalize;
     font-weight: 600;
     color: rgba(0, 0, 0, 0.6);
     margin-bottom: 30px;
     pointer-events: none;
}
.home_content .btn button {
     width: 200px;
     height: 40px;
     border: none;
     outline: none;
     font-size: 15px;
     text-transform: uppercase;
     font-weight: 500;
     border-radius: 30px;
     background: #5cb85c;
     color: #fff;
     cursor: pointer;
     transition: .5s ease;
}
.home_content .btn button:hover,
form .button input:hover,
form .links a:hover {
     background: #328232;
}
.container .quick_buttons {
     display: grid;
     grid-template-columns: repeat(4,1fr);
     gap: 50px;
     margin: 100px;
}
.container .quick_buttons a {
     text-transform: uppercase;
     text-decoration: none;
     font-size: 17px;
     width: 100%;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 20px;
     border-radius: 5px;
     color: #fff;
     font-weight: 500;
}
.container .quick_buttons a:nth-child(1) {
     background: #1365a8;
}
.container .quick_buttons a:nth-child(2) {
     background: #5cb85c;
}
.container .quick_buttons a:nth-child(3) {
     background: #53777a;
}
.container .quick_buttons a:nth-child(4) {
     background: #d9534e;
}
.container .quick_buttons a i {
     height: 70px;
     width: 70px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 30px;
     border-radius: 0px 5px 5px 0px;
}
.container .quick_buttons a:nth-child(1) i {
     background: #115a96;
}
.container .quick_buttons a:nth-child(2) i {
     background: #53a653;
}
.container .quick_buttons a:nth-child(3) i {
     background: #4b6b6e;
}
.container .quick_buttons a:nth-child(4) i {
     background: #c24a46;
}


/*===============================================
                    FORMS 
================================================*/

.form_container {
     padding-top: 100px;
}
form {
     background: #fff;
     width: 650px;
     padding: 30px 40px;
     border-radius: 10px;
     color: #333;
     border: 2px solid #ccc;
     margin: 50px auto;
}
form h1 {
     font-size: 30px;
     text-transform: uppercase;
     margin-bottom: 20px;
     text-align: center;
}
form .name {
     display: flex;
     gap: 10px;
}
form .input_group label {
     font-size: 15px;
     font-weight: 500;
}
form .input_group {
     width: 100%;
}
form .input_group input,
form .input_group textarea {
     width: 100%;
     height: 40px;
     margin: 2px 0 10px 0;
     border: 2px solid #ccc;
     border-radius: 5px;
     padding: 0 15px;
     outline: none;
     font-size: 16px;
     font-weight: 500;
     transition: .3s;
}
form .input_group textarea {
     max-width: 100%;
     max-height: 200px;
     min-width: 100%;
     min-height: 200px;
     padding-top: 10px;
}
form .input_group input:focus,
form .input_group textarea:focus,
form select:focus {
     border: 2px solid #5cb85c;
}
form .button input,
.container_other form button {
     width: 100%;
     height: 40px;
     margin: 30px 0 10px 0;
     border: none;
     outline: none;
     background: #5cb85c;
     font-size: 16px;
     font-weight: 500;
     color: #fff;
     cursor: pointer;
     border-radius: 5px;
     transition: .3s;
}
.container_other form button {
     width: 200px;
}
form select {
     width: 100%; 
     height: 40px;
     border: 2px solid #ccc;
     border-radius: 5px;
     padding: 0 5px 0 15px;
     outline: none;
     font-size: 16px;
     font-weight: 500;
     transition: .3s;
     margin-bottom: 10px;
}


/*===============================================
               PHP POP-UP BOX
================================================*/

.pop_up,
.login_pop_up {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
}
.pop_up_box,
.login_pop_up_box {
     padding: 30px 100px;
     background: rgba(0, 255, 0, 0.3);
     border: 2px solid rgb(0, 255, 0);
     border-radius: 20px;
     text-align: center;
     font-weight: 500;
}
.login_pop_up_box {
     background: rgba(255, 0, 0, 0.3);
     border: 2px solid red;
}
.pop_up_box .title,
.login_pop_up_box .title {
     font-size: 20px;
     margin-bottom: 20px;
}
.pop_up_box .icon i,
.login_pop_up_box .icon i {
     font-size: 60px;
     color: green;
     margin-bottom: 10px;
}
.login_pop_up_box .icon i {
     color: red;
}
.pop_up_box a,
.login_pop_up_box a {
     text-decoration: none;
     font-size: 15px;
     color: green;
}
.login_pop_up_box a {
     color: red;
}


/*===============================================
               ABOUT & CONTACT PAGE 
================================================*/

.container_other {
    padding-top: 100px;
}
.container_other .flex {
     display: flex;
     justify-content: space-between;
     gap: 100px;
     margin: 100px;
}
.container_other .form {
     width: 70%;
}
.container_other form {
     width: 100%;
     border: none;
     padding: 0;
     margin: 0;
}
.container_other .contact ul li {
     list-style: none;
     margin-bottom: 15px;
     font-size: 15px;
}
.container_other .contact ul li span {
     font-weight: 600;
} 
.container_other .contact ul li a {
     color: #5cb85c;
     text-decoration: none;
}
.container_other .contact {
     width: 30%;
}
.container_other .vision_mission_motto {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     margin: 100px;
     gap: 50px;
}
.container_other .vision_mission_motto .item {
     width: 100%;
}
.container_other .vision_mission_motto .item p {
     font-size: 15px;
}
.container_other .our_courses {
     margin: 50px 100px;
}
.container_other .our_courses .items {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 10px;
}
.container_other .our_courses .items .image {
     width: 100%;
     padding: 20px;
     cursor: pointer;
     transition: .5s ease;
}
.container_other .our_courses .items .image:hover {
     box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
     transform: translateY(-10px);
}
.container_other .our_courses .items .image img {
     width: 100%;
}


/*===============================================
               BLOG PAGE 
================================================*/

.content,
.teachers {
     padding: 100px;
}
.content .news {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 50px;
}
.content .news .item {
     width: 100%;
     border: 1px solid #ccc;
}
.content .news .item img {
     width: 100%;
}
.content .news .item .text_one {
     display: flex;
     padding: 20px;
     justify-content: space-between;
     gap: 20px;
}
.content .news .item .text_one .date {
     border: 2px solid #FFAA30;
     width: 50px;
     height: 70px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #FFAA30;
}
.content .news .item .text_one .date p {
     font-size: 30px;
     line-height: 30px;
}
.content .news .item .text_one .date span {
     font-size: 15px;
}
.content .news .item .text_one .ditals {
     width: 80%;
}
.content .news .item .text_one .ditals h3 {
     font-size: 20px;
     color: #515151;
     font-weight: normal;
     line-height: 30px;
     margin-bottom: 20px;
}
.content .news .item .text_one .ditals .para {
     font-size: 14px;
}
.content .news .item .text_one .ditals .link p {
     font-size: 13px;
     margin-bottom: 5px;
}
.content .news .item .text_one .ditals .link p a {
     text-decoration: none;
     color: #1DA1F2;
}


/*===============================================
               TEAM PAGE 
================================================*/

.teachers .teacher-part {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 50px;
}
.teachers .teacher-part .teacher {
     width: 100%;
     border: 1px solid #ccc;
}
.teachers .teacher-part .teacher img {
     width: 100%;
}
.teachers .teacher-part .teacher .text {
     padding: 20px;
}
.teachers .teacher-part .teacher .text h3 {
     font-size: 20px;
     font-weight: normal;
     margin-bottom: 15px;
}
.teachers .teacher-part .teacher .text .social {
     margin-bottom: 15px;
     gap: 10px;
}
.teachers .teacher-part .teacher .text .social i  {
     width: 30px;
     height: 30px;
     border: 1px solid;
     text-align: center;
     padding-top: 6.5px;
     cursor: pointer;
     border-radius: 50%;
     transition: .3s;
}
.teachers .teacher-part .teacher .text .contacts {
     display: flex;
     flex-direction: column;
}
.teachers .teacher-part .teacher .text .contacts a {
     text-decoration: none;
     font-size: 13px;
     color: #222;
     margin-bottom: 10px;
     transition: .3s;
}
.teachers .teacher-part .teacher .text .contacts a:hover,
.teachers .teacher-part .teacher .text .social i:hover {
     color: #5cb85c;
}
.teachers .teacher-part .teacher .text .contacts a span {
     margin-left: 5px;
}
.teachers h2 {
     text-transform: uppercase;
}
.teachers .teacher-part .teacher .text .social i:nth-child(1) {
     color: #4267B2;
}
.teachers .teacher-part .teacher .text .social i:nth-child(2) {
     color: #1DA1F2;
}
.teachers .teacher-part .teacher .text .social i:nth-child(3) {
     color: #0077B5;
}
.teachers .teacher-part .teacher .text .social i:nth-child(4) {
     color: #FF0000;
}


/*===============================================
               MEDIA SECTION 
================================================*/

@media (max-width: 1230px) {
     nav {
          padding: 0 20px;
     }
     .teachers .teacher-part {
          grid-template-columns: repeat(3, 1fr);
     }
}
@media (max-width: 1070px) {
     nav .imbs_logo img {
          width: 200px;
     }
     .home_content {
          width: 90%;
          text-align: center;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
     }
     .container_other .vision_mission_motto {
          grid-template-columns: repeat(1, 1fr);
          gap: 30px;
     }
     .container_other .our_courses .items {
          grid-template-columns: repeat(2, 1fr);
     }
     .container .quick_buttons {
          grid-template-columns: repeat(2,1fr);
     }
     .content .news {
          grid-template-columns: repeat(2, 1fr);
     }
     .content, .teachers {
          padding: 20px;
     }
     .teachers .teacher-part {
          gap: 20px;
     }
     .footer {
          grid-template-columns: repeat(2, 1fr);
     }
}
@media (max-width: 820px) {
     nav .menu_btn i{
          display: block;
     }
     #click:checked ~ .menu_btn i:before{
          content: "\f00d";
     }
     nav ul{
          position: absolute;
          top: 100px;
          left: -100%;
          background: #fff;
          height: 100vh;
          width: 100%;
          text-align: center;
          display: block;
          transition: all 0.3s ease;
     }
     #click:checked ~ ul{
          left: 0;
     }
     nav ul li{
          width: 100%;
          margin: 40px 0;
     }
     nav ul li a{
          width: 100%;
          margin-left: -100%;
          display: block;
          font-size: 18px;
          transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
     }
     #click:checked ~ ul li a{
          margin-left: 0px;
     }
     nav ul li a.active,
     nav ul li a:hover{
          background: none;
          color: #5cb85c;
     }
     .footer {
          justify-content: left;
     }
     .container_other .flex {
          flex-direction: column;
     }
     .container_other .form {
          width: 100%;
     }
     .container_other .contact {
          width: 100%;
     }
     .container_other .our_courses .items {
          grid-template-columns: repeat(1, 1fr);
     }
     .container_other .flex {
          margin: 50px;
          gap: 50px;
     }
     .content {
          padding: 20px;
     }
     .content .news {
          grid-template-columns: repeat(1, 1fr);
     }
     .teachers .teacher-part {
          grid-template-columns: repeat(2, 1fr);
     }
     form {
          width: 95%;
     }
     form .name {
          display: flex;
          flex-direction: column;
          gap: 10px;
     }
}
@media (max-width: 700px) {
     .footer {
          grid-template-columns: repeat(1, 1fr);
     }
}
@media (max-width: 550px) {
     .container_other .vision_mission_motto {
          margin: 50px;
     }
     .container_other .our_courses {
          margin: 50px;
     }
     .container .quick_buttons {
          grid-template-columns: repeat(1,1fr);
          margin: 50px;
     }
     .teachers .teacher-part {
          grid-template-columns: repeat(1, 1fr);
     }
     .footer {
          padding: 20px;
     }

}
